@import 'joshwcomeau_reset.css';

/* Variables CSS pour les couleurs */
:root {
    --background-color: #fbfbfb;
    --text-color: #000000;
    --border-color: rgb(184, 184, 184);
    --hover-background-color: rgb(235, 235, 235);
    --menu-background-color: rgb(255, 255, 255);
    --menu-border-color: rgb(235, 235, 235);
    --select-border-color: rgb(155, 153, 153);
    --box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* Variables CSS pour les dimensions */
:root {
    --padding: 20px;
    --border-radius: 20px;
    --font-size: 17px;
}

/* Styles globaux */
body {
    background-color: var(--background-color);
    font-family: 'Noto Sans JP', system-ui, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.fa-solid {
    font-size: 22px;
}

/* En-tête */
header {
    background-color: inherit;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    padding: 30px 0;
    gap: 20px;
}

/* Menu hamburger */
.hamburger {
    position: absolute;
    width: 37px;
    height: 37px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 30px;
    top: 30px;
}

.menu-hamburger {
    display: none;
    background-color: var(--menu-background-color);
    position: absolute;
    right: 30px;
    top: 65px;
    padding: 10px;
    border: solid 1px var(--menu-border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    z-index: 10;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(-10px);
}

.menu-hamburger ul {
    list-style: none;
    padding: 0;
}

.menu-hamburger li {
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--select-border-color);
}

.menu-hamburger li:last-child {
    border-bottom: none;
}

.menu-hamburger.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transform: translateY(0);
}

.select-hamburger {
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.hamburger:hover {
    background-color: var(--hover-background-color);
}

.select-hamburger:hover {
    background-color: var(--hover-background-color);
}

/* Navigation */
.index-nav {
    margin-top: 50px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: inherit;
    height: 100%;
}

.index-nav li {
    flex: 1;
    padding: 0;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-nav li:hover {
    background-color: var(--hover-background-color);
}

.index-nav a {
    text-decoration: none;
    text-align: center;
    color: inherit;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
}

/* Contenu principal */
main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4vh;
    margin-bottom: 10px;
}

.title h1 {
    font-size: 48px;
}

.title h4 {
    visibility: hidden;
    margin-left: 0.5rem;
    margin-bottom: -15px;
    letter-spacing: 0.5rem;
}

.title p {
    margin-top: 2px;
    font-size: 20px;
    word-spacing: 3px;
}

.search-container-parent {
    width: 100%;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.search-container {
    width: 60%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    outline: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-container input:focus {
    background-color: rgb(255, 255, 255);
    box-shadow: var(--box-shadow);
}

.search-container button {
    background-color: inherit;
    color: rgba(0, 0, 0, 0.7);
    border: none;
    cursor: pointer;
    position: absolute;
    right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer */
footer {
    margin-top: auto;
    padding: 20px;
    background-color: var(--background-color);
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: var(--text-color);
}



/* Introduction */
.escape {
    position: absolute;
    width: 37px;
    height: 37px;
    border-radius: 5px;
    
    right: 30px;
    top: 30px;
}

.escape:hover {
    background-color: var(--hover-background-color);
}

.escape a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showcase h1 {
    margin-top: 3vh;
    font-size: 2.5em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4rem;
}

.table-of-contents {
    position: sticky;
}

@media (max-width: 1000px) {
    .table-of-contents-sidebar {
        display: none;
    }
}

.table-of-contents {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--background-color, inherit);
    padding: 3rem 1rem;
}

.table-of-contents ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 2px solid var(--border-color, #ddd);
    gap: 1rem;
    margin: 0;
}

.table-of-contents li a {
    font-size: 0.9rem;
    transition: color 0.3s ease, padding-left 0.3s ease;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    padding: 15px 10px;
}
  
.table-of-contents li a:hover,
.table-of-contents li a:focus {
    padding-left: 6px;
}

.content {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.content ul {
    list-style: none;
}

