@import 'root.css';
@import 'joshwcomeau_reset.css';


.escape a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes, une pour le label, l'autre pour l'input */
    grid-gap: 20px; /* Espacement entre les éléments */
    padding: 20px;
    margin-top: 50px;
}

form {
    grid-column: 1 / -1; /* Fait en sorte que le formulaire occupe toute la largeur de la grid */
    display: grid;
    grid-gap: 15px;
}

.form-group {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

form fieldset {
    grid-column: 1 / -1; /* Les fieldsets prennent toute la largeur du formulaire */
    border: 2px solid #ccc;
    padding: 15px;
}

form fieldset legend {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Labels */
label {
    font-size: 1rem;
    font-weight: bold;
}

/* Inputs et textareas */
input[type="text"],
input[type="number"],
input[type="url"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

textarea {
    resize: vertical; /* Permet de redimensionner la textarea uniquement en hauteur */
}

/* Bouton */
button {
    grid-column: 1 / -1; /* Le bouton occupe toute la largeur du formulaire */
    padding: 15px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 800;
}

.form-button:hover {
    background-color: #8b6221;
}

input:invalid {
    border: 2px solid red;
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr; /* Sur petit écran, une seule colonne */
    }
    
    form {
        grid-template-columns: 1fr; /* Formulaire sur une seule colonne */
    }
}