@import 'root.css';
@import 'joshwcomeau_reset.css';


.escape a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 20px;
    margin-top: 50px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    gap: 2%;
    grid-template-areas:
    "form-name form-image"
    "form-designer form-image"
    "form-description form-image"
    "form-description form-paper"
    "form-instructions form-instructions"
    "form-tips form-tips"
    "form-submit form-submit";
    margin-bottom: 100px;
}

#form-name {
    grid-area: form-name;
}

#form-image {
    grid-area: form-image;
    width: 100%;
    aspect-ratio: 1 / 1;
    max-width: 400px;
}

#form-designer {
    grid-area: form-designer;
}

#form-description {
    grid-area: form-description;
}

#form-paper {
    grid-area: form-paper;
}

#form-instructions {
    grid-area: form-instructions;
}

#form-tips {
    grid-area: form-tips;
}

#form-submit {
    grid-area: form-submit;
}

.form-group {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

form fieldset {
    padding: 15px;
}

form fieldset legend {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

label {
    font-size: 1rem;
    font-weight: bold;
}

input,
select,
textarea {
    padding: 5px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

input {
    max-height: 50px;
}

#form-image input {
    height: 100%;
    max-height: none;
    width: 100%;
    background-color: #ddd;
    border: 2px dashed #999;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

#form-image input:hover {
  background-color: #ccc;
  border-color: #666;
}

button {
    margin-top: 15px;
    padding: 15px;
    width: 200px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 800;
}

button:hover {
    background-color: #9d6f25;
}

input:invalid {
    border: 2px solid red;
}